{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.formattedValue == 0 %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% else %}
    <span class="badge badge-warning">{{ field.formattedValue }}</span>
{% endif %}
