{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.formattedValue == 'unknown' %}
    <span class="badge badge-secondary">?</span>
{% elseif field.formattedValue starts with '${' %}
    <span class="badge badge-warning">{{ field.formattedValue }}</span>
{% else %}
    <span class="badge badge-info">{{ field.formattedValue }}</span>
{% endif %}
