{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <span class="text-danger" title="{{ field.value }}">{{ field.formattedValue|raw|nl2br }}</span>
{% else %}
    {% if field.formattedValue is null %}
        <span class="badge badge-secondary"></span>
    {% else %}
        <span class="text-danger text-center">
            <i class="fa fa-warning"></i>
        </span>
    {% endif %}
{% endif %}
